[submodule "LIS3DH_stm32_driver"]
	path = LIS3DH_stm32_driver
	url = git@github.com:AntoLotti/LIS3DH_stm32_driver.git
[submodule "DockerMatrixMCU"]
	path = DockerMatrixMCU
	url = https://github.com/DIE-SILVASE/DockerMatrixMCU.git
