[submodule "DockerMatrixMCU"]
	path = DockerMatrixMCU
	url = https://github.com/DIE-SILVASE/DockerMatrixMCU.git
[submodule "qemu_new"]
	path = qemu_new
	url = git@github.com:AntoLotti/qemu_new.git
[submodule "Thesis-doc"]
	path = Thesis-doc
	url = git@github.com:AntoLotti/Thesis-doc.git
[submodule "lis3dh-driver"]
	path = lis3dh-driver
	url = git@github.com:AntoLotti/lis3dh-driver.git
